

body {
	font-family: Georgia, "Lucida Bright", "DejaVu Serif", Constantia, serif;
	color: #333;
	font-size: 18px;
	padding-top: 80px;
}

ul {
	margin-top: 1em;
	list-style: square;
	padding-left: 1em;
}

p {
	margin: 1em 0;
}

p, li {
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {

}
h1 {

}
h2 {
	font-size: 1.4em;
}

.container {
	max-width: 600px;
}

.navbar {
	min-height: 80px;
}
.navbar-volby {
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
.navbar-volby .navbar-header {
	width: 60%;
	float: left;
}
.navbar-header a.navbar-brand {
}
.navbar-header a.navbar-brand img {
	width: 100%;
	max-width: 200px;
}
.navbar-steps {
	float: right;
	text-align: right;
	width: 40%;
}

.counter {
	display: none;
	color: #ccc;
	font-size: .75em;
}

.navbar-steps .nav--progress span.nav-item a {
	font-size: .75em;
}

.counter__step {
	font-size: 1.8em;
	color: #0097fd;
}

.counter__step:after {
	content: "/";
	color: #ccc;
	font-size: .6em;
}





.intro .paragraph-1 {
	color: #333;
	margin: .25em 0;
}

.intro .paragraph-2 {
	color: #555;
}

.intro ul li strong {
	font-weight: 400;
	color: #111;
}



/* forms */

.form-control, select, .select2 {
	font-size: 1em;
	border-radius: 0;
	background-color: #eee;
	border: 3px solid #ccc;
	outline: none;
	padding: .8em;
	font-family: Arial, Helvetica, "Myriad Pro", "DejaVu Sans Condensed", sans-serif;
	height: auto;
	color: #000;
}

.form-control, .form-control:focus, .has-error .form-control, .has-error .form-control:focus {
	box-shadow: none;
}

label {
	font-weight: normal;
	font-size: .9em;
	color: #555;
}

label em {
	color: #888;
	font-style: normal;
}


#ziadost input:focus {
	border-color: #0097fd;
	background-color: #eef8ff;
}


#pdf iframe, #pdf-final iframe {
	background-color: #eee;
}

#sign .signature-pad {
	border: 4px solid #eee;
	position: relative;
}

#sign .signature-pad canvas {
	position: relative;
	width: 100%;
	height: 160px;
	z-index: 2;
}

#sign .signature-pad span {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
	left: 0;
	top: 32px;
	color: #ddd;
}






.footer {
	opacity: .5;
	font-size: .8em;
}

.powered-by img {
	margin: 1em 0;
	height: 18px;
}



/* components */

.btn-volby-blue, .btn-volby-gray {
	font-family: Arial, Helvetica, "Myriad Pro", "DejaVu Sans Condensed", sans-serif;
	color: #fff;
	border-radius: 0;
	padding: 1.6em 1em;
	font-weight: bold;
	transition: background-color 0.5s ease;
	font-size: 1em;
	white-space: normal;
}

.btn-volby-blue {
	background-color: #0097fd;
	border-color: #0097fd;
}

.btn-volby-gray {
	background-color: #999;
	border-color: #999;
}

.btn-volby-gray:hover, .btn-volby-gray:active, .btn-volby-gray:focus,
.btn-volby-blue:hover, .btn-volby-blue:active, .btn-volby-blue:focus {
	color: #fff;
}
.btn-volby-blue:hover, .btn-volby-blue:active, .btn-volby-blue:focus {
	background-color: #0061a3;
	border-color: #0061a3;
}
.btn-volby-gray:hover, .btn-volby-gray:active, .btn-volby-gray:focus {
	background-color: #777;
	border-color: #777;
}


.text-big {
	font-size: 1.15em;
}
.text-bigger {
	font-size: 1.25em;
	line-height: 1.5;
}
.text-biggest {
	font-size: 1.45em;
	line-height: 1.4;
}
.text-color-lighter {
	color: #777;
}

h2.as-title-with-padding, h3.as-title-with-padding {
	margin-top: 1.8em;
}

.digitalBlue {
	color: #0097fd;
}

.digitalBlue:hover {
	color: #0061a3;
}

.digitalRed {
	color: #c33;
}

.digitalRed:hover {
	color: #b10f0f;
}

.digitalBlueFill {
	background-color: #0097fd;
	color: #4db6fe;
}

.digitalBlueFill:hover {
	background-color: #0061a3;
	text-decoration: none;
}

.digitalRedFill {
	background-color: #c33;
	color: #d65c5c;
}

.digitalRedFill:hover {
	background-color: #b10f0f;
	text-decoration: none;
}

.copy-btn {
	padding-top: 2px;
	border-radius: 2px;
	cursor: pointer;
	background-color: #ddd;
	transition: background-color 0s;
}

.copy-btn:hover {
	background-color: #aaa;
	transition: background-color 0.6s;
}

.copy-btn:focus:hover, .copy-btn.selected:hover {
}

.copy-btn:active, .copy-btn.selected {
	background-color: #666;
	transition: background-color 0s;
}



/*





h1, a, h6 {
	font-family: Arial, Helvetica, "Myriad Pro", "DejaVu Sans Condensed", sans-serif;
}


.btn.secondary {
	background-color: #999;
	color: #fff;
	text-decoration: none;
}

.btn.secondary:hover {
	background-color: #777;
}

.row {
	width: 100%;
	padding: 0;
}

.btn-group {
	display: block;
	font-size: 0;
	text-align: center;
}

.btn-group .btn {
	display: inline-block;
	width: 45%;
	margin: 2%;
	font-size: 28px;
	color: white;
	font-size: 20px;
	padding: 15px;
}



#intro {
	display: block;
}

h1 {
	font-size: 48px;
	color: #000;
	padding: 60px 0 0 0;
}

h1 a {
	display: block;
}

h2 {
	font-size: 26px;
	line-height: 1.3;
	padding: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

h2 strong {
	font-size: 38px;
	font-weight: normal;
}

h2 em {
	font-size: 30px;
	line-height: 42px;
}

h3 {
	font-size: 22px;
	line-height: 1.5;
	color: #555;
}

h4 {
	font-size: 20px;
	line-height: 1.5;
	color: #777;
}

h5 {
	font-size: 18px;
	line-height: 1.5;
	color: #888;
	margin-bottom: 30px;
}

h6 {
	font-size: 36px;
	color: #999;
}

.intro {
	min-height: 100%;
	background-color: #fff;
	z-index: 2;
	position: relative;
}

.intro a.btn {
	margin: 30px 0;
	text-decoration: none;
}

.intro a.btn:hover {
	text-decoration: none;
}

.intro ul {
	font-size: 20px;
	line-height: 1.4;
	padding-left: 20px;
	list-style: square;
	color: #777;
}

.intro ul li {
	margin-bottom: 8px;
}

.intro ul strong {
	font-weight: normal;
	color: #111;
}

.intro h4 {
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding: 10px 0;
}

.intro h4 a {
	display: inline-block;
	background: url("../images/standard-logo.png") no-repeat 0 bottom;
	height: 36px;
	width: 277px;
	background-size: 138px 18px;
}

.intro h4 a span {
	display: none;
}

.github {
	font-size: 16px;
	color: #C1C1C1;
	border-top: 1px solid #eee;
	padding: 13px 0 0;
	margin: 0 0 100px 0;
}

.github a {
	color: #84B6D7;
}

.github a:hover {
	color: #0061a3;
}

.row {
	display: none;
}

.logo {
	display: inline-block;
	padding: 0;
	margin: 10px 0;
	line-height: 1;
	max-width: 50%;
}

.logo img {
	width: 100%;
	height: auto;
	max-width: 200px;
}

.nav {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	line-height: 1;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	font-size: 12px;
	font-weight: 400;
	font-family: Georgia, "Lucida Bright", "DejaVu Serif", Constantia, serif;
}

.nav-item {
	display: none;
	list-style: none;
	margin-top: 10px;
}

.nav-item a {
	text-decoration: none;
	font-family: Georgia, "Lucida Bright", "DejaVu Serif", Constantia, serif;
	font-size: 1.2em;
}

.nav--progress {
	position: absolute;
	right: 20px;
	top: 10px;
	text-align: right;
}



.section {
	font-size: 36px;
}

.section a {
	margin: 24px 0;
}







.sendsection {
	font-size: 16px;
	color: 555;
}

.sendsection p {
	margin-bottom: 20px;
}


@media only screen and (min-width: 880px) {

	.wrap {
		width: 720px;
	}

	h1 {
		font-size: 32px;
		padding: 64px 0 0 0;
	}

	h2 {
		font-size: 24px;
		line-height: 32px;
		padding: 0 0 20px;
		margin-bottom: 20px;
	}

	h2 strong {
		font-size: 24px;
		font-weight: normal;
	}

	h3 {
		font-size: 20px;
		line-height: 30px;
	}

	h4 {
		font-size: 18px;
		color: #777;
	}

	h6 {
		font-size: 18px;
	}

	.intro {
		width: 600px;
		padding: 0px;
	}

	.intro a.btn {
		margin: 24px 0;
		width: 66%;
	}

	.intro ul {
		font-size: 18px;
		line-height: 32px;
		padding-left: 20px;
		list-style: square;
		color: #777;
	}

	.nav-item a {
	}

	.btn {
		display: block;
		width: 100%;
		font-size: 20px;
	}

	.row {
		width: 100%;
		padding: 0px;
	}

	.section {
		font-size: 18px;
	}

	.section a {
		margin: 16px 0;
	}

	#sign button {
		margin: 16px 0;
	}

}


a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content:  "\e151";
}

a.desc:after {
	content: "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

.chosen {
}

.form-horizontal .control-label {
	text-align: left;
}

.help-block {
	color: red;
	font-size: 14px;
	margin: 10px 0;
	font-family: Arial, Helvetica, "Myriad Pro", "DejaVu Sans Condensed", sans-serif;
}

.body-content .section {
	padding: 50px 0 0 0;
}

.justify {
	text-align: justify;
	text-justify: inter-word;
}

.hidden {
	display: none;
}


*/