* {box-sizing: border-box;}
html, body { height: 100%; font-family:Georgia, "Lucida Bright", "DejaVu Serif", Constantia, serif; }


/* Slovensko.DIGITAL COLORs */
.digitalBlue { color:#0097fd; }
.digitalBlue:hover { color:#0061a3;  }
.digitalRed { color:#c33; }
.digitalRed:hover { color:#b10f0f; }
.digitalBlueFill { background-color:#0097fd; color:#4db6fe;  }
.digitalBlueFill:hover { background-color:#0061a3; text-decoration:none; }
.digitalRedFill { background-color:#c33; color:#d65c5c; }
.digitalRedFill:hover { background-color:#b10f0f; text-decoration:none; }
.digitalBlueFill strong, .digitalRedFill strong { color:#fff; }

/* FONTS */
h1, a, h6 { font-family:Arial, Helvetica, "Myriad Pro", "DejaVu Sans Condensed", sans-serif;  }

/* Universal */
* { margin:0; padding:0; border:0; }
h1, h2, h3, h4, h5, h6, h7, em { font-style:normal; font-weight:normal; }

.wrap { position: relative; max-width:640px; width: 100%; min-height:100%; height: auto; margin:0 auto; padding: 0 20px; }
.btn { display:block; width:100%; height:120px; font-size:34px; line-height:120px; text-align:center; text-decoration: none; }
.btn.secondary { background-color:#999; color:#fff; text-decoration:none; }
.btn.secondary:hover { background-color:#777; }
.row { width:100%; padding:0; }

#intro { min-height:100%; background-color:#fff; z-index:2; position:relative; display:block; }

h1 { font-size:48px; color:#000; padding:60px 0 0 0; }
h2 { font-size:34px; line-height:48px; color:#555; padding:72px 0 0 0; }
h2 strong { font-size:48px; font-weight:normal; }
h2 em { font-size:30px; line-height:42px; }
h3 { font-size:28px; line-height:42px; color:#555; padding-top:48px; }
h4 { font-size:32px; line-height:48px; color:#777; }
h5 { font-size:24px; line-height:32px; color:#888; }
h6 { font-size:36px; color:#999; }

#intro a.btn { margin:56px 0; text-decoration: none; }
#intro a.btn:hover { text-decoration:none; }
#intro ul { font-size:27px; line-height:42px; padding-left:20px; list-style:square; color:#777; }
#intro ul strong { font-weight:normal; color:#111; }
#intro h4 { border-top:1px solid #eee; margin-top:48px; padding:32px 0 64px 0; }
#intro h4 a { display:block; background:url("../images/standard-logo.png") no-repeat center left; width:100%; height:36px; padding:16px 0; }
#intro h4 a span { display:none; }

/* links to github */
#github { font-size: 16px; color: #C1C1C1; border-top: 1px solid #eee; padding: 13px 0 0; margin: 45px 0 100px 0; }
#github a { color: #84B6D7; }
#github a:hover { color: #0061a3; }

.row { display:none; }
.nav { position:fixed; top:0; z-index:3; width:100%; line-height:64px; border-bottom:1px solid #eee; background-color:#fff; font-size: 20px;}
.nav-item { position: absolute; right: 0; display: none; list-style: none; padding-right: 20px;}
.nav-item a { text-decoration:none; padding:32px 0; }
.actual-step {display: none;color: #999; font-family:Arial, Helvetica, "Myriad Pro", "DejaVu Sans Condensed", sans-serif; }

.section { padding-top:128px; font-size:36px; }
.section a { margin:24px 0; }

#ziadost label { display:block; font-size:34px; color:#555; padding:24px 0 12px 0;  }
#ziadost label em { font-size:28px; color:#888;  }
#ziadost input, #ziadost select  { background-color:#eee; width:100%; height:80px; border:3px solid #ccc; outline:none; font-size:40px; padding:0 16px; }
#ziadost input:focus { border-color:#0097fd; background-color:#eef8ff; }

#pdf iframe, #pdf-final iframe { background-color:#eee; }
#pdf .btn, #pdf-final .btn, #sign .btn { width:252px; float:left; }
#pdf .btn.secondary, #pdf-final .btn.secondary, #sign .btn.secondary { margin-right:16px; }
#sign button { margin: 24px 0; }
#sign .signature-pad { border: 4px solid #eee; position:relative; }
#sign .signature-pad canvas { position:relative; width:100%; height:592px; z-index:2; }
#sign .signature-pad span { position:absolute; width:100%; text-align:center; z-index:1; left:0; top:32px; color:#ddd; }

/* TEMP JUMP TO STEP 2
#sign { display:block; }
#intro, #krokomer li { display:none; } */


/* A truly mobile-first CSS, media exception defined for desktop */

@media only screen and (min-width: 880px) {

.wrap { width:720px; }

h1 { font-size:32px; padding:64px 0 0 0; }
h2 { font-size:24px; line-height:32px; padding:24px 0 0 0; }
h2 strong { font-size:24px; font-weight:normal; }
h3 { font-size:20px; line-height:30px; padding-top:16px; }
h4 { font-size:18px; color:#777; }
h6 { font-size:18px; }

#intro { width:600px; padding:0 60px;  }
#intro a.btn { margin:24px 0; height:64px; line-height:64px; font-size:20px; width:66%; }
#intro ul { font-size:18px; line-height:32px; padding-left:20px; list-style:square; color:#777; }
#intro h4 { margin-top:32px; padding:24px 0 0 0; }
#intro h4 a { background-size:138px 18px; padding:0; }

.nav-item a { font-size:18px; padding:16px 0; }

.btn { display:block; width:100%; height:60px; font-size:20px; line-height:60px; }
.row { width:100%; padding: 0 60px; }
.section { padding-top:64px; font-size:18px; }
.section a { margin:16px 0; }

#ziadost label { font-size:17px; padding:12px 0 6px 0;  }
#ziadost label em { font-size:14px; }
#ziadost input, #ziadost select  { height:40px; font-size:20px; padding:0 16px; }
#ziadost input:focus { border-color:#0097fd; background-color:#eef8ff; }

#pdf .btn, #pdf-final .btn, #sign .btn { width:292px; float:left; }
#pdf .btn.secondary, #pdf-final .btn.secondary, #sign .btn.secondary { margin-right:16px; }
#sign button { margin: 16px 0; }

}

/* Tuto neviem co bolo */
/* add sorting icons to gridview sort links */

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.chosen {}


.form-horizontal .control-label{
	text-align:left;
}

.help-block{
	color:red;
	font-size:smaller;
}