# http://editorconfig.org

# top-most editorconfig file
root = true

# unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
indent_style = tab
indent_size = 2
